<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>  
<style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    input[type=radio] {
        margin-left: 45px;
    }
    input[type=checkbox] {
        margin-right: 190px;
    }  
    button {
        padding: 5px;
        margin: 10px;
    }
</style>
<title> Hibernate(jpa) in Spring boot</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
  
<body>
<div align="center">
    <h1>New Category </h1>
   <form action="#" th:action="@{/new_category}" method="post", th:object="${category}">

     <div class = "form-group row"> 
     <label ckass="col-from-label col-sm-4">Name:</label>
     <div class = "col-sm-8">
     <input type="text" th:field="*{name}" /><br>
  </div>  
   </div>
   
   
      <button type="submit">Save category</button>    
   </form> 
   
   
   </body>
</html>
