<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User management using Jpa,Hiberante</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
    <div align="center">
        <h1> User Information</h1>
      
    </div>
    
   <div class="container"> 
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">     
           <!--- This is a comment !-->
                <thead class="head-dark"  >
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr scope="row", th:each="user : ${users}">
                    <td   th:text="${user.name}"></td>
                    <td  th:text="${user.email}"></td>
                    <td ><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>    
    </div>  
    </div>    
    <p><a href="/register">Add a new user</a></p>
 
</body>
</html>
